<div class="wrapper ui-g">
  <div class="container ui-g-6 ui-g-offset-3 ui-g-nopad">
    <app-navigation></app-navigation>

    <div [hidden]="!isLoading" class="loader">
      <h2>Loading...</h2>
      <p-progressSpinner></p-progressSpinner>
    </div>

    <div [hidden]="isLoading" class="router-output">
      <router-outlet></router-outlet>
    </div>
  </div>

  <ul class="bubbles">
    <li></li>
    <li></li>
  </ul>
</div>
