<div *ngIf="authService.getAuthData().isAuth">
  <p-menubar [model]="menuItems">
    <button pButton class="ui-button-rounded" label="Logout" (click)="authService.logout()"></button>
  </p-menubar>
</div>
