<div>
  <h2>Task list</h2>

  <div class="ui-g-12">
    <button type="button" pButton routerLink="../task" class="ui-button-rounded"
            icon="pi pi-plus" iconPos="left" title="Add" label="Add"></button>
  </div>

  <div class="ui-g-12">
    <p-table [value]="tasks">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:15%">Id</th>
          <th>Details</th>
          <th style="width:15%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr>
          <td style="text-align: center;">{{ task.id }}</td>
          <td>
            <div><a routerLink="../task/{{task.id}}">{{ task.title }}</a></div>
            <div class="text-small">{{ task.description }}</div>
            <div class="text-small text-help">
              <span>Created {{ task.createDate | date: "dd.MM.yyyy" }}</span>
              <span> | Changed {{ task.changeDate | date: "dd.MM.yyyy" }}</span>
              <span *ngIf="task.completeDate"> | Completed {{ task.completeDate | date: "dd.MM.yyyy" }}</span>
            </div>
          </td>
          <td style="text-align: center;">
            <button type="button" pButton (click)="onRemove(task)" class="ui-button-rounded ui-button-secondary"
                    icon="pi pi-times" iconPos="left" title="Remove"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

