<div>
  <h2 *ngIf="task.id">Edit task #{{ task.id }}</h2>
  <h2 *ngIf="!task.id">New task</h2>

  <form role="form" class="ui-fluid" *ngIf="task">
    <div>
      <div class="ui-g-4">
        <label for="title" class="control-label">Title</label>
      </div>
      <div class="ui-g-8">
        <input type="text" name="title" id="title" required [(ngModel)]="task.title" pInputText />
      </div>
    </div>

    <div>
      <div class="ui-g-4">
        <label for="description" class="control-label">Description</label>
      </div>
      <div class="ui-g-8">
        <textarea name="description" id="description" rows="3"
                  [(ngModel)]="task.description" pInputTextarea></textarea>
      </div>
    </div>

    <div>
      <div class="ui-g-4">
        <label for="isCompleted" class="control-label input-switch-label" (click)="onIsCompletedToggle()">Is completed</label>
      </div>
      <div class="ui-g-8">
        <p-inputSwitch name="isCompleted" id="isCompleted" [(ngModel)]="task.isCompleted"></p-inputSwitch>
      </div>
    </div>
  </form>

  <div>
    <div class="ui-g-8 ui-g-offset-4">
      <button type="button" pButton class="ui-button-rounded" label="Save" (click)="onSave()"></button>
      <button type="button" pButton class="ui-button-rounded ui-button-secondary" label="Cancel" (click)="onCancel()"></button>
    </div>
  </div>

</div>

