<div class="ui-g-6 ui-g-offset-3 ui-g-nopad">
  <h2>Welcome</h2>

  <form role="form" class="ui-fluid">
    <div>
      <div class="ui-g-4">
        <label for="login" class="control-label">Login</label>
      </div>
      <div class="ui-g-8">
        <input type="text" name="login" id="login" [(ngModel)]="login" pInputText />
      </div>
    </div>

    <div>
      <div class="ui-g-4">
        <label for="password" class="control-label">Password</label>
      </div>
      <div class="ui-g-8">
        <input type="password" name="password" id="password" [(ngModel)]="password" pInputText />
      </div>
    </div>

    <div *ngIf="errorMessage">
      <div class="ui-g-8 ui-g-offset-4">
        <span class="text-danger">{{ errorMessage }}</span>
      </div>
    </div>
  </form>

  <div class="ui-g-8 ui-g-offset-4">
    <button pButton type="button" label="Login" class="ui-button-rounded" (click)="onSubmit()"></button>
  </div>
</div>
