body {
  margin: 0;
  min-height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  font-weight: 400;
  color: #333c40;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

.text-small {
  font-size: 0.8em;
}

.text-help {
  color: #777;
}

.text-danger {
  color: #e91224;
}

.control-label,
.control-value {
  display: inline-block;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.control-label {
  font-weight: bolder;
  float: right;
}

.input-switch-label {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.pull-right {
  float: right;
}

textarea {
  resize: none;
}

body .ui-button {
  margin-right: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

h1, h2,
.h1, .h2 {
  text-align: center;
}

.wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  background-color: rgba(255, 255, 255, 0.15);
  opacity: 0.9;
  z-index: 2;
}

.loader {
  text-align: center;
}

body .ui-menubar {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #c8c8c8;
}

body .ui-menubar .logo {
  font-weight: bold;
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 120px;
  height: 120px;
  background-color: white;
  opacity: 0.15;
  bottom: 100px;
  transform: rotate(35deg);
}

.bubbles li:nth-child(1) {
  left: 10%;
  width: 80px;
  height: 80px;
  transform: rotate(50deg);
}
